$white: #fff;
$blue: #167bff;
$backgroundBlue: #1C8EF9;
$red: red;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*.App {*/
/*  padding: 10px;*/
/*}*/

/*.active a {*/
/*  color: red;*/
/*}*/

/*a {*/
/*  text-decoration: none;*/
/*  padding: 5px;*/
/*}*/

/*.list-group {*/
/*  margin: 5px;*/
/*}*/

/*li {*/
/*  list-style: none;*/
/*}*/

body {
  background: $backgroundBlue !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  min-height: 100%;
}

.navbar-light {
  background-color: $white;
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  .auth-inner {
    width: 450px;
    background: $white;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin: 5% auto auto;
  }

  .form-control {
    &:focus {
      border-color: $blue;
      box-shadow: none;
    }
  }

  h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  label {
    font-weight: bold;
  }
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;

  a {
    color: $blue;
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    margin: 0;
  }
}

.error-message {
  color: $red;
}

.posts-container {
  margin: 0 auto;
  .posts-header {
    color: $white;
    margin: 10px;
  }

  .post-item {
    width: 30%;
    margin: 10px;
  }

}
