$white: #fff;
$blue: #167bff;
$backgroundBlue: #1C8EF9;
$red: red;
$black: #000;
$grey: #eee;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*.App {*/
/*  padding: 10px;*/
/*}*/

/*.active a {*/
/*  color: red;*/
/*}*/

/*a {*/
/*  text-decoration: none;*/
/*  padding: 5px;*/
/*}*/

/*.list-group {*/
/*  margin: 5px;*/
/*}*/

/*li {*/
/*  list-style: none;*/
/*}*/

body {
  background: $backgroundBlue !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  min-height: 100%;
}

.navbar-light {
  background-color: $white;
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  .auth-inner {
    width: 450px;
    background: $white;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin: 5% auto auto;
  }

  .form-control {
    &:focus {
      border-color: $blue;
      box-shadow: none;
    }
  }

  h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  label {
    font-weight: bold;
  }
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: $grey;
  margin: 0;

  a {
    color: $blue;
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    margin: 0;
  }
}

.error-message {
  color: $red;
}

.posts-container {
  margin: 0 auto;
  .posts-header {
    color: $white;
    margin: 0 10px 10px;
    padding-top: 10px;
    text-align: center;
  }

  .post-item {
    margin: 10px;
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  background: $white;
  height: 100%;
  width: 200px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-indent: 20px;
    line-height: 40px;

    a {
      display: block;
      text-decoration: none;
      color: $black;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;

      &:hover {
        text-decoration: none;
        background: #eee;
        color: $blue;
      }
    }
  }

  .active {
    color: $blue;
  }

  .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
}